@font-face {
	font-family: "GameBoy";
	src: url("GameBoy.ttf") format("truetype");
	font-weight: normal;
}

body {
	font-family: "GameBoy", "Courier New";
}

.header img{
	float: left;
	width: 100px;
	height: 100px;

}

.header h1{
	position: relative;
	left: 50px;
	font-size: 36px;
	
}

.header h2{
	float: right;
	position: relative;
	top: -60px;
	right: 20px;
}

.header {
	background: grey;
	border-style: solid;
	border-width: 3px;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 50px;
}

table, td {

	border: 1px solid black;
	
	border-collapse: collapse;
	padding: 10px;
	text-align: center;
	margin-left:auto;
	margin-right:auto;

}


.headerpage a:link {
	text-decoration: none;
}

.headerpage a:visited {
	color: black;
}

.headerpage a:hover{
	color: white;
}


.search input {
	width: 25%;
	padding: 8px 10px;
	margin: 8px 0;
	height: 10%;
	font-size: 15px;
	font-family: "GameBoy";
}

.search button{
	font-family: "GameBoy";
	padding: 10px 32px;
	text-align: center;
	
}

.search {
	text-align: center;
}


.results {
	border-radius: 15px;
	background-clip: padding-box;
	/* border: 1px solid black; */

}

.poke_pic img {
	float: left;
	width: 300px;
	height: 300px;

}


* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}